.about {
    margin-left: 2rem;
    margin-right: 2rem;
}

.about-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    color: var(--text-muted);
    font-size: 1rem;
}


@media (width > 720px) {

    .about-grid {

        font-size: 1.5rem;
    }

}
