.products .product-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
}

@media (max-width: 720px) {
    .products .product-grid {
        display: flex;
        flex-direction: column;

        gap: 1rem;
    }
}
